#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&bt BT_CLR  &kp B  &kp C  &kp D  &kp E  &kp F  &kp G
&kp A  &kp B  &kp C  &kp D  &kp E  &kp F  &kp H
&kp A  &kp B  &kp C  &kp D  &kp E  &kp F  &kp I
&kp A  &kp B  &kp C  &kp D  &kp E  &kp F  &kp J
&kp A  &kp B  &kp C  &kp D  &kp E  &kp F  &kp K
            >;
        };
    };
};
